<a href="https://colab.research.google.com/github/HawraaML/python_tutorial/blob/main/python_loops%26function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Loops & Functions

# What will we study



1.   User input

1.   if else

1.   while loop

1.   for loop

1.   function

In [ ]:
# if we want to ask user to enter data we use the following
'''Here we will calcuate the area of rectangular'''
l = int(input("Enter the length of rectangular "))
w = int(input("Enter the width of rectangular "))
area = l*w
print("the area of rectangular = {}".format(area))

Enter the length of rectangular 4
Enter the width of rectangular 3
the area of rectangular = 12

In [ ]:
# if statment
num = 0
if num != 1:
  print("number is not equal to 1")

number is not equal to 1

In [ ]:
# if else
num1 = 10
num2 = 20
if num1>=num2:
  print("num1 is greater")
else:
  print("num2 is greater")

num2 is greater

In [ ]:
# if elif else
num1 = 10
num2 = 20
if num1>=num2:
  print("num1 is greater")
elif num1 == num2:
  print("num1 is equal to num2")
else:
  print("num2 is greater")

num2 is greater

In [ ]:
# to check if somthing is empty or not we use if condition
'''the values [],(),0,{},""  return false bool
other value return true boolean'''
my_list = []
if my_list:
  print("it is true")
else :
  print("it is false")

it is false

In [ ]:
# nested if
num = 5
if num<=10:
  if num<=5:
    print("it is equel or less than 5")
  else: print("it is greater than 5")
else: print("it is greater than 10")

it is equel or less than 5

In [ ]:
# Ternary Operators (short hand if)
num1 = 50
num2 = 30
print(num1) if num1>num2 else print(num2)

50

# For loop

In [ ]:
# for loop
pet = ["parrot","dog","cat"]

for x in pet :
      print (x)

parrot
dog
cat

In [ ]:
# for loop with string
for x in "python":
  print(x)

p
y
t
h
o
n

In [ ]:
# break statment use to stop the loop when we reach a specfic item
pet = ["parrot","dog","cat"]

for x in pet :
      if x == "dog":
        break
      print (x)

parrot

In [ ]:
#continue statement use to stop current item of the loop, and continue with the next
pet = ["parrot","dog","cat"]

for x in pet :
      if x == "dog":
        continue
      print(x)

parrot
cat

In [ ]:
# range(number of elements)

for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
# range(start,end)
for x in range(6,10):
  print(x)

6
7
8
9

In [ ]:
# range(start,end,step)
for x in range(6,20,3):
  print(x)

6
9
12
15
18

In [ ]:
# list with for
fruit_list = ['apple','banana','orange','cherry']
for fruit in fruit_list:
  print("this is ",fruit)

this is  apple
this is  banana
this is  orange
this is  cherry

In [ ]:
# for with dictioary
my_dict ={
    "name":"Ali",
    "age":10,
    "school":"primary"
}

for key in my_dict:
  print(key,my_dict[key])

print("\n")
# to show the only values
for value in my_dict.values():
  print(value,)
print("\n")
# to show both of keys and values
for pair in my_dict.items():
  print(pair)

name Ali
age 10
school primary


Ali
10
primary


('name', 'Ali')
('age', 10)
('school', 'primary')

# While loop

In [ ]:
# while loop

i = 3

while i<=10:
  print("number = ",i)
  i += 1

number =  3
number =  4
number =  5
number =  6
number =  7
number =  8
number =  9
number =  10

In [ ]:
# figure with while loop
astr = '*'
while len(astr)<=10:
  print(astr)
  astr +='*'

while len(astr)>0:
  print(astr)
  astr = astr[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
# while with break
i = 1
while i < 5:
  if i == 2:
    break
  print(i)
  i += 1

1

In [ ]:
# while with continue
i = 1
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

2
4
5
6

In [ ]:
#while with else
i = 1
while i < 5:
  print(i)
  i += 1
else:
  print("i is greater than 5")

1
2
3
4
i is greater than 5

# Function

In [ ]:
#define function
def sum():
  num = 4 + 10
  print("sum",num)

#call function
sum()

sum 14

In [ ]:
# function with parameters

def sum(num1,num2):
  num = num1 + num2
  print("sum = ",num)


#call function
sum(2,3)

sum =  5

In [ ]:
# Arbitrary Arguments, *args : we use * function with unknown number of parameters

def number(*num):
  print("numbers =",num)

#call function
number(1,2,3,4)

numbers = (1, 2, 3, 4)

In [ ]:
#Keyword Arguments :we can also send arguments with the key = value syntax.

def avg(exam1,exam2):
  average = (exam1+exam2)/2
  print("average =",average)

#call function
avg(exam2=80,exam1=90)

average = 85.0

In [ ]:
# we use ** if we do not how many parameters in a function and we want to call them by name
def avg(**exam):
  average = (exam["exam1"]+exam["exam2"])/2
  print("average =",average)

#call function
avg(exam1=80,exam2=90)

average = 85.0

In [ ]:
# defult parameters
def fruit(fruits = "cherry"):
  print("It is a " + fruits)

fruit("orange")
fruit()

It is a orange
It is a cherry

In [ ]:
# The pass Statement : we use it if we want to make a function without content
def sum():
  pass

 # module


is file contain a python code (variable, function, class) and it provides away to organize a code for large python project

In [ ]:
import math
# if i do not how something work in python then i can use help
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [ ]:
# find area of square
x = int(input("Enter the value side "))
square_area = math.pow(x,2)
print('the area {}'.format(square_area))

Enter the value side 9
the area 81.0

In [ ]:
# try except use to name error that we expect to happend

try:
  print(y)
except NameError:
  print("Variable y is not defined")
except:
  print("Something else went wrong")

Variable y is not defined