<a href="https://colab.research.google.com/github/HawraaML/python_tutorial/blob/main/python_loops%26function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Loops & Functions

# What will we study



1.   User input

1.   if else

1.   while loop

1.   for loop

1.   function

In [7]:
# if statment
num = 0
if num != 1:
  print("number is not equal to 1")

number is not equal to 1

In [5]:
# if else
num1 = 10
num2 = 20
if num1>=num2:
  print("num1 is greater")
else:
  print("num2 is greater")

num2 is greater

In [4]:
# if elif else
num1 = 10
num2 = 20
if num1>=num2:
  print("num1 is greater")
elif num1 == num2:
  print("num1 is equal to num2")
else:
  print("num2 is greater")

num2 is greater

In [10]:
# Ternary Operators (short hand if)
num1 = 50
num2 = 30
print(num1) if num1>num2 else print(num2)

50

# For loop

In [ ]:
# for loop
pet = ["parrot","dog","cat"]

for x in pet :
      print (x)

parrot
dog
cat

In [5]:
# for loop with string
for x in "python":
  print(x)

p
y
t
h
o
n

In [3]:
# break statment use to stop the loop when we reach a specfic item
pet = ["parrot","dog","cat"]

for x in pet :
      if x == "dog":
        break
      print (x)

parrot

In [2]:
#continue statement use to stop current item of the loop, and continue with the next
pet = ["parrot","dog","cat"]

for x in pet :
      if x == "dog":
        continue
      print(x)

parrot
cat

In [5]:
# range(number of elements)

for x in range(6):
  print(x)

0
1
2
3
4
5

In [6]:
# range(start,end)
for x in range(6,10):
  print(x)

6
7
8
9

In [8]:
# range(start,end,step)
for x in range(6,20,3):
  print(x)

6
9
12
15
18

# While loop

In [ ]:
# while loop

i = 3

while i<=10:
  print("number = ",i)
  i += 1

number =  3
number =  4
number =  5
number =  6
number =  7
number =  8
number =  9
number =  10

In [10]:
# while with break
i = 1
while i < 5:
  if i == 2:
    break
  print(i)
  i += 1

1

In [12]:
# while with continue
i = 1
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

2
4
5
6

In [13]:
#while with else
i = 1
while i < 5:
  print(i)
  i += 1
else:
  print("i is greater than 5")

1
2
3
4
i is greater than 5

# Function

In [16]:
#define function
def sum():
  num = 4 + 10
  print("sum",num)

#call function
sum()

sum 14

In [17]:
# function with parameters

def sum(num1,num2):
  num = num1 + num2
  print("sum = ",num)


#call function
sum(2,3)

sum =  5

In [4]:
# Arbitrary Arguments, *args : we use * function with unknown number of parameters

def number(*num):
  print("numbers =",num)

#call function
number(1,2,3,4)

numbers = (1, 2, 3, 4)

In [23]:
#Keyword Arguments :we can also send arguments with the key = value syntax.

def avg(exam1,exam2):
  average = (exam1+exam2)/2
  print("average =",average)

#call function
avg(exam2=80,exam1=90)

average = 85.0

In [3]:
def avg(**exam):
  average = (exam["exam1"]+exam["exam2"])/2
  print("average =",average)

#call function
avg(exam1=80,exam2=90)

average = 85.0

In [5]:
# defult parameters
def fruit(fruits = "cherry"):
  print("It is a " + fruits)

fruit("orange")
fruit()

It is a orange
It is a cherry

In [9]:
# The pass Statement : we use it if we want to make a function without content
def sum():
  pass