<a href="https://colab.research.google.com/github/HawraaML/python_tutorial/blob/main/Python_tutorial_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **python**

# **What will we study**


1.   variable

2.   Data type

3.   type()

4.   casting (change from one data type to another one)

5.   Arithmetic Operators

6.   Assignment Operators

7.   Comparison Operators

8.   Logic Operators

9.   String

10.   List

11.   Tuple

12.   Set

13.   Dictionary

# Variable

In [ ]:
# Integer variable

num = 10
negtive_num = -6
long_num = 234567891333


# Display variable
print("Number = ",num)
print("Negative number = ",negtive_num)
print("Long Number = ",long_num)

Number =  10
Negative number =  -6
Long Number =  234567891333

In [ ]:
# Float variable

float_num = 4.5
negative_float_num = -3.6
long_float_num = 33333.87577887

# Display variable
print("Number = ",float_num)
print("Negative number = ",negative_float_num)
print("Long Number = ",long_float_num)

Number =  4.5
Negative number =  -3.6
Long Number =  33333.87577887

In [ ]:
# boolean variable

positive = True
negative = False
positive_expression = 4>2
negative_expression = 4<2

# Display variable
print("True = ",positive)
print("false = ",negative)
print("positive expression = ",positive_expression)
print("negative expression = ",negative_expression)

True =  True
false =  False
positive expression =  True
negative expression =  False

In [ ]:
# the boolean True = 1 & the boolean False = 0

num_1 = 5 + True
num_0 = 5 + False

# Display variable
print("Sumation with True = ",num_1)
print("Sumation with false =",num_0)

Sumation with True =  6
Sumation with false = 5

In [ ]:
# type() function used to give us the type of our variable
num = -6
boolean = 5>3
float_num = -4.5

# Display variable
print(type(num))
print(type(boolean))
print(type(float_num))

<class 'int'>
<class 'bool'>
<class 'float'>

In [ ]:
#Casting (change type of vairable)
num = 14
print(num)
print(type(num))

float_num = float(num)
print(float_num)
print(type(float_num))

bool(num)
print(bool(num))
print(type(bool(num)))

num = bool(num)
print(num)
print(type(num))

14
<class 'int'>
14.0
<class 'float'>
True
<class 'bool'>
True
<class 'bool'>

# Arithmetic Operator

In [ ]:
num1 = 9
num2 = 5

# plus +
num3 = num1+num2
print("plus = ",num3)

# minuse -
num3 = num1-num2
print("minuse = ",num3)

# multiply(time) *
num3 = num1*num2
print("multiply = ",num3)

# divsion /
num3 = num1/num2
print("divsion = ",num3)

# reminder %
num3 = num1%num2
print("reminder = ",num3)

# exponent ** (^)
num3 = num1**num2
print("exponent = ",num3)

# only the integer value //
num3 = num1//num2
print("integer value = ",num3)

plus =  14
minuse =  4
multiply =  45
divsion =  1.8
reminder =  4
exponent =  59049
integer value =  1

# Assignment Operator

In [ ]:
# Equal (=)
num = 9
print("equal = ",num)

# plus equal (+=)  num = num + 5
num += 5
print("plus equal = ",num)

# minuse (-=)  num = num - 5
num -= 5
print("minuse equal = ",num)

# multiply(time) (*=) num = num * 5
num *= 5
print("multiply = ",num)

# divsion (/=) num = num/5
num /= 5
print("divsion = ",num3)

# reminder (%=) num = num % 5
num %= 5
print("reminder = ",num)

# exponent (**=) (^=)  num = num**5
num **= 5
print("exponent = ",num)

# only the integer value (//=) num = num // 5
num //= 5
print("integer value = ",num)

equal =  9
plus equal =  14
minuse equal =  9
multiply =  45
divsion =  1
reminder =  4.0
exponent =  1024.0
integer value =  204.0

# Comparsion Operator

In [ ]:
num1 = 7
num2 = 10

# Greater than
print("is number1 greater than number2 = ", num1>num2)

# Greater or equal
print("is number1 greater or equal number2 = ", num1>=num2)

# smaller than
print("is number1 smaller than number2 = ", num1<num2)

# smaller or equal
print("is number1 smaller or equal number2 = ", num1<=num2)

# is equal
print("is number1 equal to number2 = ", num1==num2)

# is not equal
print("is number1 not equal to number2 = ", num1==num2)

is number1 greater than number2 =  False
is number1 greater or equal number2 =  False
is number1 smaller than number2 =  True
is number1 smaller or equal number2 =  True
is number1 equal to number2 =  False
is number1 not equal to number2 =  False

# Logical Operator

In [ ]:
boolean1 = True
boolean2 = False

# not (make it the opposite of its situation)
print("NOT = ",not boolean1)

#and (most possibilities are false only when the both values are true it will become true)
print("AND = ",boolean1 and boolean2)

#or (most possibilities are true only when the both values are false it will be false)
print("OR = ",boolean1 or boolean2)

NOT =  False
AND =  False
OR =  True

# String

In [ ]:
greeting = "Hello everyone"
greeting = 'Hello everyone'
greeting = '''Hello everyone'''
print(greeting)

greeting = "Hello\" everyone"
greeting = 'Hello\" everyone'
print(greeting)

greeting = 'Hello\n everyone'
greeting = '''Hello
everyone'''
print(greeting)

Hello everyone
Hello" everyone
Hello
everyone

In [ ]:
# len() give the length of string
greeting = "Hello everyone"
len(greeting)

14

In [ ]:
# type() to give type of variable
greeting = "Hello everyone"
type(greeting)

str

# Built-in function for string

In [ ]:
# Slicing String
greeting = "Hello everyone"

print(greeting[1])
print(greeting[1:5])
print(greeting[:6])
print(greeting[6:])
print(greeting[-1])
print(greeting[-4:-1])

e
ello
Hello
everyone
e
yon

In [ ]:
# Concatination in String
greeting = "Hello everyone"
name = "Hawraa"
info = greeting + " My name is " + name

print(info)

Hello everyone My name is Hawraa

In [ ]:
# upper() make all letters capital
greeting = "Hello everyone"
print("Upper :",greeting.upper())

# lower() make all letters small
greeting = "Hello everyone"
print("Lower :",greeting.lower())

# capitalize() make first letter capitale
greeting = "hello everyone"
print("capitalize :",greeting.capitalize())

Upper : HELLO EVERYONE
Lower : hello everyone
capitalize : Hello everyone

In [ ]:
# split() to make string as list
greeting = "Hello everyone"
print("split :",greeting.split())

split : ['Hello', 'everyone']

In [ ]:
# check if the element exist in string
greeting = "Hello everyone"
print("check:","Hello" in greeting)

check: True

In [ ]:
# strip() using to remove white space or something i specify in the begin and end of string
greeting = "     Hello everyone     "
print("strip:",greeting.strip())

greeting = "********Hello everyone*******"
print("strip:",greeting.strip('*'))

strip: Hello everyone
strip: Hello everyone

In [ ]:
# to insert variable inside string
num = 5

print(f"Hello number {num} ")

Hello number 5

In [ ]:
#replace(old,new) use to replace part of string with another one
greeting = "Hello everyone"
print(greeting.replace("Hello","Good morning"))

Good morning everyone

# List[ ]

In [ ]:
# List can contain item from the same types or different types and it can be empty
pet_list = ["cat","dog","parrot"]
print("pets =",pet_list)

data_list = ["hello",3.4,-24,None,5<3,[20,30,-23,5.78]]
print("data =",data_list)

empty_list = []
print("empty =",empty_list)

pets = ['cat', 'dog', 'parrot']
data = ['hello', 3.4, -24, None, False, [20, 30, -23, 5.78]]
empty = []

In [ ]:
# len() & type() in list

data_list = ["hello",3.4,-24,None,5<3,[20,30,-23,5.78]]
print("len =",len(data_list))
print("type =",type(data_list))

len = 6
type = <class 'list'>

In [ ]:
# Access to item in the list

data_list = ["hello",3.4,-24,None,5<3,[20,30,-23,5.78]]
print(data_list[2])
print(data_list[2:5])
print(data_list[-1])
print(data_list[2:])
print(data_list[:4])

-24
[-24, None, False]
[20, 30, -23, 5.78]
[-24, None, False, [20, 30, -23, 5.78]]
['hello', 3.4, -24, None]

In [ ]:
# change list item with another one

data_list = ["hello",3.4,-24,None,5<3,[20,30,-23,5.78]]
data_list[2]=True
print(data_list)

['hello', 3.4, True, None, False, [20, 30, -23, 5.78]]

In [ ]:
# join two list

data_list = ["hello",3.4,-24,None,5<3,[20,30,-23,5.78]]
transport = ["ship", "plane", "car"]

full_list = data_list + transport
print(full_list)

['hello', 3.4, -24, None, False, [20, 30, -23, 5.78], 'ship', 'plane', 'car']

In [ ]:
# to add item at end of list we use append(name of new item) also it helps in adding list at end of list

data_list = ["hello",3.4,-24,None,5<3,[20,30,-23,5.78]]
transport = ["ship", "plane", "car"]

data_list.append("july")
print(data_list)

data_list.append(transport)
print(data_list)

# to add item at end of list but from another list we use extend(new list)
data_list.extend(transport)
print(data_list)

['hello', 3.4, -24, None, False, [20, 30, -23, 5.78], 'july']
['hello', 3.4, -24, None, False, [20, 30, -23, 5.78], 'july', ['ship', 'plane', 'car']]
['hello', 3.4, -24, None, False, [20, 30, -23, 5.78], 'july', ['ship', 'plane', 'car'], 'ship', 'plane', 'car']

In [ ]:
# to add item in spesfic place of list we use insert(index,"new item")

data_list = ["hello",3.4,-24,None,5<3,[20,30,-23,5.78]]
data_list.insert(2,"july")
print(data_list)

['hello', 3.4, 'july', -24, None, False, [20, 30, -23, 5.78]]

In [ ]:
# to remove an item from list we can use remove(name of item)

data_list = ["hello",3.4,-24,None,5<3,[20,30,-23,5.78]]
data_list.remove(3.4)
print(data_list)

# to remove an item by index from list we can use pop(index)

data_list = ["hello",3.4,-24,None,5<3,[20,30,-23,5.78]]
data_list.pop(0)
print(data_list)

['hello', -24, None, False, [20, 30, -23, 5.78]]
[3.4, -24, None, False, [20, 30, -23, 5.78]]

In [ ]:
# to sort list we use sort()

num_list = [20,10,40,100,30,0]
num_list.sort()
print(num_list)

fruit_list = ["apple","orange","banana","cherry"]
fruit_list.sort()
print(fruit_list)

# to sort list in descending we use sort(reverse = True)

num_list = [20,10,40,100,30,0]
num_list.sort(reverse = True)
print(num_list)

fruit_list = ["apple","orange","banana","cherry"]
fruit_list.sort(reverse = True)
print(fruit_list)

[0, 10, 20, 30, 40, 100]
['apple', 'banana', 'cherry', 'orange']
[100, 40, 30, 20, 10, 0]
['orange', 'cherry', 'banana', 'apple']

In [ ]:
# to reverse the given list we use reverse()

data_list = ["hello",3.4,-24,None,5<3,[20,30,-23,5.78]]
data_list.reverse()
print(data_list)

[[20, 30, -23, 5.78], False, None, -24, 3.4, 'hello']

In [ ]:
# to copy list we use the copy()

data_list = ["hello",3.4,-24,None,5<3,[20,30,-23,5.78]]
data_list1 = data_list.copy()
print(data_list1)

['hello', 3.4, -24, None, False, [20, 30, -23, 5.78]]

# Tuple( )

In [ ]:
fruit_tuple = ("apple","banana","orange","cherry")
data_tuple = (2,None,"hi",True,[1,2,3],("car","plane","ship"))
empty_tuple = ()
single_item_tuple =(1,)
print("fruit =",fruit_tuple)
print("data =",data_tuple)
print("empty =",empty_tuple)
print("single =",single_item_tuple)

fruit = ('apple', 'banana', 'orange', 'cherry')
data = (2, None, 'hi', True, [1, 2, 3], ('car', 'plane', 'ship'))
empty = ()
single = (1,)

In [ ]:
# len() & type() in tuple

data_tuple = (2,None,"hi",True,[1,2,3],("car","plane","ship"),-20)
print("len =",len(data_tuple))
print("type =",type(data_tuple))

len = 7
type = <class 'tuple'>

In [ ]:
# Access item in tuple

data_tuple = (2,None,"hi",True,[1,2,3],("car","plane","ship"),-20)
print(data_tuple[3])
print(data_tuple[1:5])
print(data_tuple[-1])
print(data_tuple[2:])
print(data_tuple[:4])
print(data_tuple[-4:-2])

True
(None, 'hi', True, [1, 2, 3])
-20
('hi', True, [1, 2, 3], ('car', 'plane', 'ship'), -20)
(2, None, 'hi', True)
(True, [1, 2, 3])

In [ ]:
# the different between tuple and list that tuple can not change so if we want to change in it we need to convert to list

data_tuple = (2,None,"hi",True,[1,2,3],("car","plane","ship"),-20)
data_list = list(data_tuple)
data_list[2] = "good morning"
data_tuple = tuple(data_list)
print(data_tuple)

(2, None, 'good morning', True, [1, 2, 3], ('car', 'plane', 'ship'), -20)

In [ ]:
# unpack tuple extract the value of tuple in a variable

num_tuple = (1,2,3)
(one,two,three)=num_tuple
print(f"{one}\n{two}\n{three}")

1
2
3

In [ ]:
# Using Asterisk* we use it if the number of variables is less than the number of values

num_tuple = (1,2,3,4,5,6)
(one,two,*three)=num_tuple
print(f"{one}\n{two}\n{three}")

1
2
[3, 4, 5, 6]

In [ ]:
# join tuple

num_tuple = (1,2,3,4)
txt_tuple = ("one","two","three","four")

full_tuple = num_tuple +txt_tuple
print(f"full_tuple = {full_tuple}")

# multiply tuple
txt_tuple = ("one","two","three","four")
txt_tuple *=3
print(f"full_tuple = {txt_tuple}")

full_tuple = (1, 2, 3, 4, 'one', 'two', 'three', 'four')
full_tuple = ('one', 'two', 'three', 'four', 'one', 'two', 'three', 'four', 'one', 'two', 'three', 'four')

In [ ]:
# to find index of specfic in tuple we use index(the name of item)

txt_tuple = ("one","two","three","four")
print(txt_tuple.index("three"))
txt_tuple = ("one","two","three","four")

# to find how many this item repeated in the tuple we use count(the name of item)
print(txt_tuple.count("one"))

2
1

# Set { }

In [ ]:
fruit_set = {"apple","banana","orange","cherry"}
#data_set = {2,None,"hi",True,[1,2,3],("car","plane","ship"),{1,-4,55}}
data_set = {2,None,"hi",True,("car","plane","ship")}
empty_set = {}
single_item_set ={1,}
print("fruit =",fruit_set)
print("data =",data_set)
print("empty =",empty_set)
print("single =",single_item_tuple)

fruit = {'orange', 'apple', 'cherry', 'banana'}
data = {True, 2, 'hi', ('car', 'plane', 'ship'), None}
empty = {}
single = (1,)

In [ ]:
# len() & type() in set

data_set = {2,None,"hi",True,("car","plane","ship"),-20}
print("len =",len(data_set))
print("type =",type(data_set))

len = 6
type = <class 'set'>

In [ ]:
# to add item to set we use add(new item)

data_set = {2,None,"hi",True,("car","plane","ship"),-20}
data_set.add("hello")
print(data_set)

{True, 2, 'hi', ('car', 'plane', 'ship'), -20, None, 'hello'}

In [ ]:
# add set to another set we use update(new set)

data_set = {2,None,"hi",True,("car","plane","ship"),-20}
fruit_set = {"apple","banana","orange","cherry"}
data_set.update(fruit_set)
print(data_set)

# also we can use union(new list)

data_set = {2,None,"hi",True,("car","plane","ship"),-20}
fruit_set = {"apple","banana","orange","cherry"}
full_set = data_set.union(fruit_set)
print(full_set)

{True, 2, 'hi', 'apple', 'cherry', ('car', 'plane', 'ship'), 'banana', -20, 'orange', None}
{True, 2, 'hi', 'apple', 'cherry', ('car', 'plane', 'ship'), 'banana', -20, 'orange', None}

In [ ]:
# remove item from set we use remove(item)

data_set = {2,None,"hi",True,("car","plane","ship"),-20}
data_set.remove("hi")
print(data_set)

# if we use pop() to remove item we do not know whch item will remove because the list is unordered

data_set = {2,None,"hi",True,("car","plane","ship"),-20}
data_set.pop()
print(data_set)

{True, 2, ('car', 'plane', 'ship'), -20, None}
{2, 'hi', ('car', 'plane', 'ship'), -20, None}

In [ ]:
# to find differnt item between to set we use difference(second set)

firs_set = {"car", "cat", "dog"}
second_set = {"cat", "dog", "bird"}

different_set = firs_set.difference(second_set)

print(different_set)

{'car'}

# Dictionary

In [ ]:
data_dict = {
    "name":"Noor",
    "Age":18,
    "sport":"basketball",
    "averge":81.452,
    "favourit_color":["red","whit","black"],
    "favourit_pet":("cat","dog"),
    "favourit_hoppy":{"sport","reading","drawimg"}
}

print(data_dict)

{'name': 'Noor', 'Age': 18, 'sport': 'basketball', 'averge': 81.452, 'favourit_color': ['red', 'whit', 'black'], 'favourit_pet': ('cat', 'dog'), 'favourit_hoppy': {'drawimg', 'sport', 'reading'}}

In [ ]:
# len() & type() in dictionary

data_dict = {
    "name":"Noor",
    "Age":18,
    "sport":"basketball",
    "averge":81.452,
    "favourit_color":["red","whit","black"],
    "favourit_pet":("cat","dog"),
    "favourit_hoppy":{"sport","reading","drawimg"}
}

print(len(data_dict))
print(type(data_dict))

7
<class 'dict'>

In [ ]:
# access item in dictionary

data_dict = {
    "name":"Noor",
    "Age":18,
    "sport":"basketball",
    "average":81.452,
    "favorite_color":["red","whit","black"],
    "favorite_pet":("cat","dog"),
    "favorite_hoppy":{"sport","reading","drawimg"}
}

print(data_dict["name"])

# Also we can store it in another variable

age = data_dict["Age"]
print(age)

# we can use get() to access item

average = data_dict.get("average")
print(average)

# if we want a list of key we use key()

all_keys = data_dict.keys()
print(all_keys)

# if we want a list of value we use values()

all_values = data_dict.values()
print(all_values)

Noor
18
81.452
dict_keys(['name', 'Age', 'sport', 'average', 'favorite_color', 'favorite_pet', 'favorite_hoppy'])
dict_values(['Noor', 18, 'basketball', 81.452, ['red', 'whit', 'black'], ('cat', 'dog'), {'drawimg', 'sport', 'reading'}])

In [ ]:
# to change item in a dictionary we use

data_dict = {
    "name":"Noor",
    "Age":18,
    "sport":"basketball",
    "average":81.452,
    "favorite_color":["red","whit","black"],
    "favorite_pet":("cat","dog"),
    "favorite_hoppy":{"sport","reading","drawimg"}
}

data_dict["Age"] = 20
print(data_dict)

# also we can use update() to do that

data_dict.update({"name":"july"})
print(data_dict)

{'name': 'Noor', 'Age': 20, 'sport': 'basketball', 'average': 81.452, 'favorite_color': ['red', 'whit', 'black'], 'favorite_pet': ('cat', 'dog'), 'favorite_hoppy': {'drawimg', 'sport', 'reading'}}
{'name': 'july', 'Age': 20, 'sport': 'basketball', 'average': 81.452, 'favorite_color': ['red', 'whit', 'black'], 'favorite_pet': ('cat', 'dog'), 'favorite_hoppy': {'drawimg', 'sport', 'reading'}}

In [ ]:
# to add item in a dictionary we use

data_dict = {
    "name":"Noor",
    "Age":18,
    "sport":"basketball",
    "average":81.452,
    "favorite_color":["red","whit","black"],
    "favorite_pet":("cat","dog"),
    "favorite_hoppy":{"sport","reading","drawimg"}
}

data_dict["favorite_food"]="pizza"
print(data_dict)

# also we can use update() to do that

data_dict.update({"country":"Iraq"})
print(data_dict)

{'name': 'Noor', 'Age': 18, 'sport': 'basketball', 'average': 81.452, 'favorite_color': ['red', 'whit', 'black'], 'favorite_pet': ('cat', 'dog'), 'favorite_hoppy': {'drawimg', 'sport', 'reading'}, 'favorite_food': 'pizza'}
{'name': 'Noor', 'Age': 18, 'sport': 'basketball', 'average': 81.452, 'favorite_color': ['red', 'whit', 'black'], 'favorite_pet': ('cat', 'dog'), 'favorite_hoppy': {'drawimg', 'sport', 'reading'}, 'favorite_food': 'pizza', 'country': 'Iraq'}

In [ ]:
# to remove item from dictionary we use pop()
data_dict = {
    "name":"Noor",
    "Age":18,
    "sport":"basketball",
    "average":81.452,
    "favorite_color":["red","whit","black"],
    "favorite_pet":("cat","dog"),
    "favorite_hoppy":{"sport","reading","drawimg"}
}
data_dict.pop("average")
print("item reomved :",data_dict)

# to remove all item we can use clear()

data_dict.clear()
print("clear dictionary :",data_dict)

item reomved : {'name': 'Noor', 'Age': 18, 'sport': 'basketball', 'favorite_color': ['red', 'whit', 'black'], 'favorite_pet': ('cat', 'dog'), 'favorite_hoppy': {'drawimg', 'sport', 'reading'}}
clear dictionary : {}

In [ ]:
# to make copy of dictionary we use copy()

data_dict = {
    "name":"Noor",
    "Age":18,
    "sport":"basketball",
    "average":81.452,
    "favorite_color":["red","whit","black"],
    "favorite_pet":("cat","dog"),
    "favorite_hoppy":{"sport","reading","drawimg"}
}
data_dict_new = data_dict.copy()
print("copied of data_dict :",data_dict_new)

copied of data_dict : {'name': 'Noor', 'Age': 18, 'sport': 'basketball', 'average': 81.452, 'favorite_color': ['red', 'whit', 'black'], 'favorite_pet': ('cat', 'dog'), 'favorite_hoppy': {'drawimg', 'sport', 'reading'}}

In [ ]:
# nested dictionary

data_dict = {
    "student1" :{
        "name":"Ali",
        "average":90
    },
     "student2" :{
        "name":"Huda",
        "average":93
    },
     "student3" :{
        "name":"Sura",
        "average":89
    },
}

print("all students",data_dict)
print("first student :",data_dict["student1"])
print("second student name :",data_dict["student2"]["name"])

all students {'student1': {'name': 'Ali', 'average': 90}, 'student2': {'name': 'Huda', 'average': 93}, 'student3': {'name': 'Sura', 'average': 89}}
first student : {'name': 'Ali', 'average': 90}
second student name : Huda